<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<table th:fragments="itemsmateriaprima" class="">

		<tbody id="plantillamateriaprima">
			<tr id="row_{ID}">
				<td class="">{ID}</td>
				<td class="">{DESCRIPCION}</td>
				<td class="">{PRECIO}</td>
				<td class="">{CANTIDAD}</td>
				<td class=""><button type="button"
						onclick="eliminarMateriaPrima('{ID}')"
						class="btn btn-primary btn-block btn-sm">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>