<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head
	th:include="/auxiliar/import :: headFragment (pageTitle='Tienda SD')">
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
</head>

<link ref="../static/css/login/estiloLogin.css" rel="stylesheet"
	th:href="@{/css/login/estiloLogin.css}" />

<body>
	<div class="sidenav">
		<div class="login-main-text">
			<h2>
				Tienda SD<br> Página de ingreso
			</h2>
			<p>Ingrese a nuestra tienda mayorista.</p>
		</div>
	</div>
	<div class="main">
		<div class="col-md-6 col-sm-12">
			<div class="login-form">
				<form th:action="@{/logincheck}" method="POST">
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />
					<div class="form-group ">
						<div class="col-md-12 ">
							<div th:if="${error!=null}"
								th:include="/auxiliar/alert :: alerta(mensaje='Error...! Usuario y/o Contrasena incorrecta.', tipo='danger')"></div>
						</div>
					</div>
					<div class="form-group">
						<label>Nombre de usuario</label> <input type="text"
							class="form-control" placeholder="Usuario" id="username"
							name="username">
					</div>
					<div class="form-group">
						<label>Contraseña</label> <input type="password"
							class="form-control" placeholder="Contraseña" id="contrasena"
							name="contrasena">
					</div>
					<button type="submit" class="btn btn-black">Ingresar</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>