<!DOCTYPE html>
<html id="HTMLTotal">
<head
	th:include="/auxiliar/import :: headFragment (pageTitle='Tienda SD')">
<meta charset="UTF-8" />
</head>
<link rel="stylesheet" type="text/css" href="#"
	th:href="@{/css/dataTable/css/jquery.bdt.css}" />
<body>
	<div th:insert="/auxiliar/navbar :: navbar(${nombreUsuario})"></div>
	
	<div class="row">

		<div class="col-md-12 mt-4 text-center">
			<div class="container">
				<div class="card" th:object=${cliente}>
					<div class="card-header bg-dark text-white text-left">Datos personales</div>
					<div class="card-body">
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="RUC">RUC</label>
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" id="RUC" th:value="*{sRuc}" disabled >
							</div>
								
							<label class="col-md-2 col-form-label" for="nombre">Nombre</label>
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" id="nombre" th:value="*{sNombre}" disabled>
							</div>
								
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="apPaterno">Ap. Paterno</label>
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" id="apPaterno" th:value="*{sApellidoPaterno}" disabled>
							</div>
								
							<label class="col-md-2 col-form-label" for="apMaterno">Ap. Materno</label>
							<div class="col-md-4">
								<input type="text" class="form-control input-sm" id="apMaterno" th:value="*{sApellidoMaterno}" disabled>
							</div>
								
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="direccion">Dirección</label>
							<div class="col-md-10">
								<input type="text" class="form-control input-sm" id="direccion" th:value="*{sDireccion}" disabled>
							</div>
								
						</div>
					</div>
				</div>
			</div>
				
		</div>

	</div>

	<div class="row">
		
		<div class="col-md-12 mt-4 text-center">
			<div class="container">
				<div class="card" th:object=${cliente}>
					<div class="card-header bg-dark text-white text-left">Catálogo de productos</div>
					<div class="card-body">
						<div class="form-group row">
							<h4 class="col-md-6">Escoge los productos</h4>
							<h4 class="col-md-6">Productos seleccionados</h4>
						</div>
						<div class="form-group row">
							<div id="tablaProductos" class="col-md-6"></div>	
							<div id="c_tablaProductosSeleccionados" class="col-md-6"></div>
						</div>
					</div>
					<div class="card-footer">
						<div class="form-group row">
							<div class="col-md-8"></div>
							<label class="col-md-4 col-form-label" id="totalPagar">Total a pagar:	S/.0</label>
						</div>
						<div class="form-group row">
							<div class="col-md-9"></div>
							<button type="button" class="btn btn-success col-md-2" onclick="enviarOrdenCompra()">Enviar orden de compra</button>
						</div>
					</div>
				</div>
			</div>
		</div>				
	
	</div>
	
	<div class="row">
		<div class="col-md-12 mt-4 text-center">
			<h4>© 2019 Tienda Sistemas distribuidos</h4>
		</div>
	</div>

	<div class="modal" id="modalCantidadProducto">
		<div class="modal-dialog">
	    	<div class="modal-content">
	
		      	<!-- Modal Header -->
		      	<div class="modal-header">
		        	<h4 class="modal-title">Agregar cantidad</h4>
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		      	</div>
		
				<!-- Modal body -->
			    <div class="modal-body">
			        <input type="number" id="cantProducto" name="cantProducto"
							class="form-control" placeholder="Cantidad" min="1" /> 
					<input type="hidden" id="codProducto" name="codProducto" />
			    </div>
			
			    <!-- Modal footer -->
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-success" onclick="agregarCantidadAProducto()">Aceptar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
			    </div>
		
		    </div>
	    </div>
	</div>

	<div class="modal" id="modalCantidadMenosProducto">
		<div class="modal-dialog">
	    	<div class="modal-content">
	
		      	<!-- Modal Header -->
		      	<div class="modal-header">
		        	<h4 class="modal-title">Disminuir cantidad</h4>
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		      	</div>
		
				<!-- Modal body -->
			    <div class="modal-body">
			        <input type="number" id="cantProducto2" name="cantProducto2"
						class="form-control" placeholder="Cantidad" min="1" /> 
					<input type="hidden" id="codProducto2" name="codProducto2" />
			    </div>
			
			    <!-- Modal footer -->
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-success" onclick="eliminarCantidadProducto()">Aceptar</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
			    </div>
		
		    </div>
	    </div>
	</div>

	<div class="modal" id="modalValidacionOrdenCompra">
		<div class="modal-dialog">
	    	<div class="modal-content">
	
		      	<!-- Modal Header -->
		      	<div class="modal-header">
		        	<h4 class="modal-title">Validación de orden de compra</h4>
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		      	</div>
		
				<!-- Modal body -->
			    <div class="modal-body">
			        <p>No tenemos el stock suficiente para algunos productos que
						solicitó, puede guiarse de la siguiente tabla:</p>
					<div id="tablaValidacion"></div>
			    </div>
			
			    <!-- Modal footer -->
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-success" onclick="closeModalValidacion()">Aceptar</button>
			    </div>
		
		    </div>
	    </div>
	</div>
	
	<div class="modal" id="modalHayStock">
		<div class="modal-dialog">
	    	<div class="modal-content">
	
		      	<!-- Modal Header -->
		      	<div class="modal-header">
		        	<h4 class="modal-title">Orden de compra - Estado</h4>
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		      	</div>
		
				<!-- Modal body -->
			    <div class="modal-body">
			        <p>Tenemos en stock todos los productos que solicitó.</p>
					<p>¿Desea proceder con su orden de compra?</p>
			    </div>
			
			    <!-- Modal footer -->
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-success" onclick="realizarCompra()">Aceptar</button>
			    	<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
			    </div>
		
		    </div>
	    </div>
	</div>
	
	<div class="modal" id="modalFactura">
		<div class="modal-dialog modal-xl">
	    	<div class="modal-content">
	
		      	<!-- Modal Header -->
		      	<div class="modal-header">
		        	<h4 class="modal-title">Factura</h4>
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>
		      	</div>
		
				<!-- Modal body -->
			    <div class="modal-body">
			        <div id="tablaFactura"></div>
			    </div>
			
			    <!-- Modal footer -->
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-success" onclick="imprimirFactura()">Imprimir</button>
			    	<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
			    </div>
		
		    </div>
	    </div>
	</div>

	<script type="text/javascript" th:src="@{/js/clases/ordencompra.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTable/js/jquery.bdt.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/dataTable/js/vendor/jquery.sortelements.js}"></script>
</body>
</html>